{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="location screen">
		<img class="title" src="{% static 'title.png' %}">
		<img class="frame" src="{% static 'location/frame.svg' %}">
		
		<img class="location1" src="{% static 'location/location1.png' %}">
		<a href="{% url 'editor' 'location1.png' %}">
			<div class="location-1-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location2" src="{% static 'location/location2.png' %}">
		<a href="{% url 'editor' 'location2.png' %}">
			<div class="location-2-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location3" src="{% static 'location/location3.png' %}">
		<a href="{% url 'editor' 'location3.png' %}">
			<div class="location-3-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location4" src="{% static 'location/location4.png' %}">
		<a href="{% url 'editor' 'location4.png' %}">
			<div class="location-4-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location5" src="{% static 'location/location5.png' %}">
		<a href="{% url 'editor' 'location5.png' %}">
			<div class="location-5-button button">	
				<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location6" src="{% static 'location/location6.png' %}">
		<a href="{% url 'editor' 'location6.png' %}">
			<div class="location-6-button button">
				<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location7" src="{% static 'location/location7.png' %}">
		<a href="{% url 'editor' 'location7.png' %}">
			<div class="location-7-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location8" src="{% static 'location/location8.png' %}">
		<a href="{% url 'editor' 'location8.png' %}">
			<div class="location-8-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location9" src="{% static 'location/location9.png' %}">
		<a href="{% url 'editor' 'location9.png' %}">
			<div class="location-9-button button">
					<div class="text_label valign-text-middle bebasneuecyrillic-regular-normal-purple-heart-20px">Выбрать локацию</div>
			</div>
		</a>
	</div>
{% endblock content %}