{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="location screen">
		<img class="title" src="{% static 'title.png' %}">
		<img class="frame" src="{% static 'location/frame.svg' %}">
		
		<img class="location1" src="{% static 'location/location1.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location1.jpeg' %}">
			<div class="location-1-button button">
					<div class="button-text valign-text-middle">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location2" src="{% static 'location/location2.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location2.jpeg' %}">
			<div class="location-2-button button">
					<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location3" src="{% static 'location/location3.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location3.jpeg' %}">
			<div class="location-3-button button">
					<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location4" src="{% static 'location/location4.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location4.jpeg' %}">
			<div class="location-4-button button">
					<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location5" src="{% static 'location/location5.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location5.jpeg' %}">
			<div class="location-5-button button">	
				<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location6" src="{% static 'location/location6.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location6.jpeg' %}">
			<div class="location-6-button button">
				<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location7" src="{% static 'location/location7.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location7.jpeg' %}">
			<div class="location-7-button button">
					<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
		
		<img class="location8" src="{% static 'location/location8.jpeg' %}">
		<a href="{% url 'editor' snap_url 'location8.jpeg' %}">
			<div class="location-8-button button">
					<div class="button-text valign-text-middle ">Выбрать локацию</div>
			</div>
		</a>
	</div>
{% endblock content %}